# Pre-Processing Data

In [1]:
import csv
import numpy as np
import pandas as pd

In [2]:
ls

FFMetadata_v0.csv
Fragile_Familes.ipynb
Fragile_Families working copy.ipynb
MissingDataScript.py
README.txt*
X_train.txt
assignment2_fragilefamilies2019.pdf
background.csv*
codebook_FFChallenge.txt*
ffchallenge_getting_started_cos424.pdf
leaderboard.csv*
leaderboardUnfilled.csv*
output.csv
precept5_regularization_and_crossvalidation_demo.ipynb
prediction.csv*
test.csv*
train.csv*
y_train.txt

In [3]:
# Read in datasets, with a dublicate of the background data 
Dataset = pd.read_csv("background.csv",low_memory=False)
Dataset_Na = pd.read_csv("background.csv",low_memory=False)
Training = pd.read_csv("train.csv",low_memory=False)
Testing = pd.read_csv("test.csv",low_memory=False)

In [4]:
# Preview first 5 lines
Dataset.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,...,-3.0,-3.000000,-3.000000,-3.000000,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
1,2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.0,8.473318,-3.000000,-3.000000,-3.0,-3.000000,9.845074,-3,-3.000000,9.723551
2,3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.097495,10.071504,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
3,4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.512706,10.286578,-3.0,10.677285,-3.000000,-3,8.522331,10.608137
4,5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,11.076016,9.615958,-3.0,9.731979,-3.000000,-3,10.115313,9.646466

# Cleaning Data

## 1. Clean Target Data (Key Outcomes)

In [5]:
print("Unedited key outcome training data is:", Training.shape)
print(Training.head())
print("Unedited key outcome testing data is:", Testing.shape)
print(Testing.head())

Unedited key outcome training data is: (2121, 7)
   challengeID  gpa  grit  materialHardship  eviction  layoff  jobTraining
0            1  NaN   NaN               NaN       NaN     NaN          NaN
1            3  NaN   NaN               NaN       NaN     NaN          NaN
2            6  NaN  3.50          0.090909       0.0     0.0          0.0
3            7  2.5  3.25          0.000000       0.0     0.0          0.0
4            8  NaN   NaN               NaN       NaN     NaN          NaN
Unedited key outcome testing data is: (1591, 7)
   challengeID   gpa  grit  materialHardship eviction layoff jobTraining
0            2   NaN  3.50          0.000000    False  False       False
1            4  3.00  3.25          0.000000     True  False       False
2           11  3.25  4.00          0.181818    False   True        True
3           15  2.75  4.00          0.000000    False  False        True
4           17  3.25  3.50          0.363636    False   True       False

### a) Remove NaN from Key Outcome Datasets

In [6]:
# Remove NaN from training and testing data
Train_Y = pd.DataFrame(Training.dropna())
Test_Y = pd.DataFrame(Testing.dropna())
print("Train_Y data summary: \n", Train_Y.head())
print("Test_Y data summary: \n", Test_Y.head())

Train_Y data summary:
    challengeID   gpa  grit  materialHardship  eviction  layoff  jobTraining
3            7  2.50  3.25          0.000000       0.0     0.0          0.0
5            9  2.25  4.00          0.181818       0.0     0.0          0.0
7           13  2.75  4.00          0.181818       0.0     0.0          1.0
8           14  3.25  2.75          0.272727       0.0     1.0          0.0
9           16  2.00  3.50          0.090909       0.0     0.0          1.0
Test_Y data summary:
     challengeID   gpa  grit  materialHardship eviction layoff jobTraining
1             4  3.00  3.25          0.000000     True  False       False
2            11  3.25  4.00          0.181818    False   True        True
3            15  2.75  4.00          0.000000    False  False        True
4            17  3.25  3.50          0.363636    False   True       False
10           29  1.75  2.75          0.090909    False  False        True

In [7]:
# Isolate challengeIDs from target data
TRAIN_challengeIDs = Train_Y['challengeID'].tolist()
TEST_challengeIDs = Test_Y['challengeID'].tolist()
print("training set length:", len(TRAIN_challengeIDs))
print("testing set length:", len(TEST_challengeIDs))

training set length: 1014
testing set length: 803

In [8]:
# Set indices of Y datasets to be the challengeIDs
Train_Y = Train_Y.set_index('challengeID')
Test_Y = Test_Y.set_index('challengeID')
print("Train_Y size:", Train_Y.shape)
print("Test_Y size:", Test_Y.shape)

Train_Y size: (1014, 6)
Test_Y size: (803, 6)

###  b) Isolate Data for Each Key Outcome

### Continous Variables

In [9]:
## GPA
Train_Y_GPA = Train_Y.iloc[:,0]
Test_Y_GPA = Test_Y.iloc[:,0]

## Grit
Train_Y_Grit = Train_Y.iloc[:,1]
Test_Y_Grit = Test_Y.iloc[:,1]

## Material Hardship
Train_Y_Material_Hardship = Train_Y.iloc[:,2]
Test_Y_Material_Hardship = Test_Y.iloc[:,2]

### Binary Variables

In [10]:
## Eviction
Train_Y_Eviction = Train_Y.iloc[:,3]
Test_Y_Eviction = Test_Y.iloc[:,3]
# Change True to 1 and False to 0 (booleans), inplace
Test_Y_Eviction.loc[Test_Y_Eviction[:] == True] = 1
Test_Y_Eviction.loc[Test_Y_Eviction[:] == False] = 0

## Layoff
Train_Y_Layoff = Train_Y.iloc[:,4]
Test_Y_Layoff = Test_Y.iloc[:,4]
Test_Y_Layoff.loc[Test_Y_Layoff[:] == True] = 1
Test_Y_Layoff.loc[Test_Y_Layoff[:] == False] = 0

## Job Training
Train_Y_Job_Training = Train_Y.iloc[:,5]
Test_Y_Job_Training = Test_Y.iloc[:,5]
Test_Y_Job_Training.loc[Test_Y_Job_Training[:] == True] = 1
Test_Y_Job_Training.loc[Test_Y_Job_Training[:] == False] = 0

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

## 2. Clean Training Data (Train_X and Test_X)

In [11]:
# Make negative values NaN 
Dataset_Na[Dataset_Na < 0] = np.nan 
Dataset_Na.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,NaN,NaN,NaN,40.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,0.0,40.0,NaN,1.0,NaN,NaN,NaN,...,NaN,8.473318,NaN,NaN,NaN,NaN,9.845074,NaN,NaN,9.723551
2,3,NaN,NaN,0.0,35.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.097495,10.071504,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,0.0,30.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.512706,10.286578,NaN,10.677285,NaN,NaN,8.522331,10.608137
4,5,NaN,NaN,0.0,25.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,11.076016,9.615958,NaN,9.731979,NaN,NaN,10.115313,9.646466

### a) Feature Selection

Remove features with > 80% of data missing to increase accuracy of immutability

In [12]:
# Set values
n = len(Dataset_Na)
m = len(Dataset.columns)
na_Factor = .8

# Pandas object, True if is NaN, else False
NabyCol = Dataset_Na.isna().sum(axis=0)

# Set array value as 1 if corresponding column exceeds 80% data is NaN
Over80_na =[0] * m
for i in range(0,len(NabyCol)):
    if (NabyCol[i] > n*na_Factor):
        Over80_na[i] = 1 

# Get indices of columns with more than 80% data NaN
lenOfDrops = Over80_na.count(1)
Drops = []
for i in range(0,len(Over80_na)):
    if  (Over80_na[i] ==1):
        Drops.append(i)

# Drop columns indexed by values in Drops[]
Dataset_Na.drop(Dataset_Na.columns[Drops],axis=1,inplace=True)
print(len(Dataset.columns) - len(Dataset_Na.columns), "Columns Dropped")

7719 Columns Dropped

In [13]:
print("Feature data size is:", Dataset_Na.shape)
print(Dataset_Na.head())

Feature data size is: (4242, 5224)
   challengeID  m1lenhr  m1lenmin  cm1fint  cm1citsm    m1citywt  innatsm  \
0            1      NaN      40.0      0.0         1  202.485367        1
1            2      0.0      40.0      1.0         1   45.608219        1
2            3      0.0      35.0      1.0         1   39.060299        1
3            4      0.0      30.0      1.0         1   22.304855        1
4            5      0.0      25.0      1.0         1   35.518272        1

   incitysm  m1a3  m1a4    ...           f3d7       m4d6       m4d7     m4e23  \
0         1   1.0   1.0    ...            NaN        NaN        NaN       NaN
1         1   2.0   2.0    ...            NaN        NaN        NaN  8.473318
2         1   1.0   1.0    ...       9.856885        NaN        NaN       NaN
3         1   1.0   2.0    ...       9.735952   9.657890  10.041802       NaN
4         1   1.0   2.0    ...      10.174545  10.981139   9.458314       NaN

        f4d6       f4d7       m5c6     m5d20       f5c6       k5f1
0        NaN        NaN        NaN       NaN        NaN        NaN
1        NaN        NaN        NaN  9.845074        NaN   9.723551
2   9.097495  10.071504        NaN       NaN        NaN        NaN
3   9.512706  10.286578  10.677285       NaN   8.522331  10.608137
4  11.076016   9.615958   9.731979       NaN  10.115313   9.646466

[5 rows x 5224 columns]

### b) Fill in missing data

In [14]:
def fillMissing(inputdf, outputcsv):
    # read input csv - takes time
    df = inputdf
    # Fix date bug
    #df.cf4fint = ((pd.to_datetime(df.cf4fint) - pd.to_datetime('1960-01-01')) / np.timedelta64(1, 'D')).astype(int)
    
    # replace NA's with mode
    df = df.fillna(df.mode().iloc[0])
    # if still NA, replace with 1
    df = df.fillna(value=1)
    # replace negative values with 1 
    num = df._get_numeric_data()
    num[num < 0] = 1
    df = df.astype(float)
    # write filled outputcsv
    df.to_csv(outputcsv, index=False)

fillMissing(Dataset_Na, 'output.csv')
Data_immuted = pd.read_csv('output.csv', low_memory=False)

In [15]:
print("Cleaned up feature data size is:", Data_immuted.shape)
print(Data_immuted.head())

Cleaned up feature data size is: (4242, 5224)
   challengeID  m1lenhr  m1lenmin  cm1fint  cm1citsm    m1citywt  innatsm  \
0          1.0      0.0      40.0      0.0       1.0  202.485367      1.0
1          2.0      0.0      40.0      1.0       1.0   45.608219      1.0
2          3.0      0.0      35.0      1.0       1.0   39.060299      1.0
3          4.0      0.0      30.0      1.0       1.0   22.304855      1.0
4          5.0      0.0      25.0      1.0       1.0   35.518272      1.0

   incitysm  m1a3  m1a4    ...           f3d7       m4d6       m4d7  \
0       1.0   1.0   1.0    ...      10.926755   7.632805   9.040641
1       1.0   2.0   2.0    ...      10.926755   7.632805   9.040641
2       1.0   1.0   1.0    ...       9.856885   7.632805   9.040641
3       1.0   1.0   2.0    ...       9.735952   9.657890  10.041802
4       1.0   1.0   2.0    ...      10.174545  10.981139   9.458314

       m4e23       f4d6       f4d7       m5c6      m5d20       f5c6       k5f1
0  10.558813  11.689877   9.080795  10.991854  10.564085  10.972726   9.566678
1   8.473318  11.689877   9.080795  10.991854   9.845074  10.972726   9.723551
2  10.558813   9.097495  10.071504  10.991854  10.564085  10.972726   9.566678
3  10.558813   9.512706  10.286578  10.677285  10.564085   8.522331  10.608137
4  10.558813  11.076016   9.615958   9.731979  10.564085  10.115313   9.646466

[5 rows x 5224 columns]

### c) Isolate Desired Rows

In [16]:
# Get cleaned training/testing data based on 
Train_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TRAIN_challengeIDs)]
Train_X = Train_X.set_index('challengeID')

Test_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TEST_challengeIDs)]
Test_X = Test_X.set_index('challengeID')

Ensure that the datasets are of correct size and length:

In [17]:
print(Train_X.shape)
print(Train_Y_Eviction.shape)
print(Test_X.shape)
print(Test_Y_Eviction.shape)

(1014, 5223)
(1014,)
(803, 5223)
(803,)

# Classifying Models

In [29]:
# Import classifiers 
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
import time

In [31]:
# Logistic Regression Classifier 
print("Logistic Regression:")
LR_norm = linear_model.LogisticRegression(solver='lbfgs')
t0 = time.time()
LR_norm.fit(Train_X, Train_Y_Eviction)
t1 = time.time()
predictions_LR_norm = LR_norm.predict(Test_X)
t2 = time.time()
print("Accuracy Score = ", accuracy_score(Test_Y_Eviction, predictions_LR_norm))
print("F1 Score = ", f1_score(Test_Y_Eviction, predictions_LR_norm))
print("Training Time: %f seconds \nPrediction Time: %f seconds \n" % (t1 - t0, t2 - t1))

Logistic Regression:
Accuracy Score =  0.9115815691158157
F1 Score =  0.0
Training Time: 0.821659 seconds
Prediction Time: 0.006950 seconds

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [32]:
# KNN Classifier 
print("K-Nearest Neighbors: ")
neighbor_count = 10
knn = KNeighborsClassifier(neighbor_count)
t0 = time.time()
knn.fit(Train_X, Train_Y_Eviction)
t1 = time.time()
predictions_KNN = knn.predict(Test_X)
t2 = time.time()
print("Accuracy Score = ", accuracy_score(Test_Y_Eviction, predictions_KNN))
print("F1 Score = ", f1_score(Test_Y_Eviction, predictions_KNN))
print("Training Time: %f seconds \nPrediction Time: %f seconds \n" % (t1 - t0, t2 - t1))

K-Nearest Neighbors
Accuracy Score =  0.9364881693648817
F1 Score =  0.0
Training Time: 0.169462 seconds
Prediction Time: 6.036790 seconds

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [ ]:
print(Train_X.shape)
print(Train_Y_Eviction.shape)