## Pre-processing data

In [8]:
import csv
import numpy as np
import pandas as pd

In [137]:
ls

FFMetadata_v0.csv         codebook_FFChallenge.txt* train 2.csv*
Untitled.ipynb            output.csv                train.csv*
background.csv*           test.csv*

In [68]:
Dataset = pd.read_csv("background.csv",low_memory=False)
Dataset_Na = pd.read_csv("background.csv",low_memory=False)
Training = pd.read_csv("train.csv",low_memory=False)
Testing = pd.read_csv("test.csv",low_memory=False)

In [69]:
Dataset.head() #preview first 5 lines

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,...,-3.0,-3.000000,-3.000000,-3.000000,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
1,2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.0,8.473318,-3.000000,-3.000000,-3.0,-3.000000,9.845074,-3,-3.000000,9.723551
2,3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.097495,10.071504,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
3,4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.512706,10.286578,-3.0,10.677285,-3.000000,-3,8.522331,10.608137
4,5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,11.076016,9.615958,-3.0,9.731979,-3.000000,-3,10.115313,9.646466

In [70]:
Dataset_Na[Dataset_Na < 0] = np.nan

In [71]:
Dataset_Na.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,NaN,NaN,NaN,40.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,0.0,40.0,NaN,1.0,NaN,NaN,NaN,...,NaN,8.473318,NaN,NaN,NaN,NaN,9.845074,NaN,NaN,9.723551
2,3,NaN,NaN,0.0,35.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.097495,10.071504,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,0.0,30.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.512706,10.286578,NaN,10.677285,NaN,NaN,8.522331,10.608137
4,5,NaN,NaN,0.0,25.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,11.076016,9.615958,NaN,9.731979,NaN,NaN,10.115313,9.646466

## getting rid of features with > 80% of data missing to increase accuracy of immutability

In [127]:
n = 4242
na_Factor = .8
NabyCol = Dataset_Na.isna().sum(axis=0)
Over80_na =[0] * 12943
for i in range(0,len(NabyCol)):
    if (NabyCol[i] > n*na_Factor):
        Over80_na[i] = 1 
        
lenOfDrops = Over80_na.count(1)
Drops = []
for i in range(0,len(Over80_na)):
    if  (Over80_na[i] ==1):
        Drops.append(i)
        
Dataset_Na.drop(Dataset_Na.columns[Drops],axis=1,inplace=True)
print(len(Dataset.columns) - len(Dataset_Na.columns), "Columns Dropped")

7719 Columns Dropped

In [135]:
Dataset_Na.head()

,challengeID,m1lenhr,m1lenmin,cm1fint,cm1citsm,m1citywt,innatsm,incitysm,m1a3,m1a4,...,f3d7,m4d6,m4d7,m4e23,f4d6,f4d7,m5c6,m5d20,f5c6,k5f1
0,1,NaN,40.0,0.0,1,202.485367,1,1,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.0,40.0,1.0,1,45.608219,1,1,2.0,2.0,...,NaN,NaN,NaN,8.473318,NaN,NaN,NaN,9.845074,NaN,9.723551
2,3,0.0,35.0,1.0,1,39.060299,1,1,1.0,1.0,...,9.856885,NaN,NaN,NaN,9.097495,10.071504,NaN,NaN,NaN,NaN
3,4,0.0,30.0,1.0,1,22.304855,1,1,1.0,2.0,...,9.735952,9.657890,10.041802,NaN,9.512706,10.286578,10.677285,NaN,8.522331,10.608137
4,5,0.0,25.0,1.0,1,35.518272,1,1,1.0,2.0,...,10.174545,10.981139,9.458314,NaN,11.076016,9.615958,9.731979,NaN,10.115313,9.646466

## Fill in missing data - slightly modified code to take in df of viable features (those with >80% non-missing data)

In [130]:
import pandas as pd
import numpy as np

def fillMissing(inputdf, outputcsv):
    
    # read input csv - takes time
    df = inputdf
    # Fix date bug
    #df.cf4fint = ((pd.to_datetime(df.cf4fint) - pd.to_datetime('1960-01-01')) / np.timedelta64(1, 'D')).astype(int)
    
    # replace NA's with mode
    df = df.fillna(df.mode().iloc[0])
    # if still NA, replace with 1
    df = df.fillna(value=1)
    # replace negative values with 1
    num = df._get_numeric_data()
    num[num < 0] = 1
    # write filled outputcsv
    df.to_csv(outputcsv, index=False)

In [131]:
fillMissing(Dataset_Na, 'output.csv')
Data_immuted = pd.read_csv('output.csv', low_memory=False)

In [136]:
Data_immuted.head()

,challengeID,m1lenhr,m1lenmin,cm1fint,cm1citsm,m1citywt,innatsm,incitysm,m1a3,m1a4,...,f3d7,m4d6,m4d7,m4e23,f4d6,f4d7,m5c6,m5d20,f5c6,k5f1
0,1,0.0,40.0,0.0,1,202.485367,1,1,1.0,1.0,...,10.926755,7.632805,9.040641,10.558813,11.689877,9.080795,10.991854,10.564085,10.972726,9.566678
1,2,0.0,40.0,1.0,1,45.608219,1,1,2.0,2.0,...,10.926755,7.632805,9.040641,8.473318,11.689877,9.080795,10.991854,9.845074,10.972726,9.723551
2,3,0.0,35.0,1.0,1,39.060299,1,1,1.0,1.0,...,9.856885,7.632805,9.040641,10.558813,9.097495,10.071504,10.991854,10.564085,10.972726,9.566678
3,4,0.0,30.0,1.0,1,22.304855,1,1,1.0,2.0,...,9.735952,9.657890,10.041802,10.558813,9.512706,10.286578,10.677285,10.564085,8.522331,10.608137
4,5,0.0,25.0,1.0,1,35.518272,1,1,1.0,2.0,...,10.174545,10.981139,9.458314,10.558813,11.076016,9.615958,9.731979,10.564085,10.115313,9.646466

In [161]:
#Training['null'] = 0
#for i in range(0,len(Training)):
 #   if (pd.isna(Training.loc[i][1]) or pd.isna(Training.loc[i][2]) or
  #  pd.isna(Training.loc[i][3]) or pd.isna(Training.loc[i][4]) or
   # pd.isna(Training.loc[i][5]) or pd.isna(Training.loc[i][6])):
    #    Training.iloc[i][7] = 1

/Users/preetiiyer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### delete where there is not ALL y data .... ?? method 1

In [271]:
Training = Training.dropna()
Testing = Testing.dropna()

Train_Y = Training
Test_Y = Testing
Train_Y.drop(columns=['null'])
Train_Y_GPA = Train_Y.drop(columns=['null','grit','materialHardship','eviction','layoff','jobTraining'])
Train_Y_GPA = Train_Y_GPA.set_index('challengeID') #setting Challenge ID to index of df

Train_Y_Eviction = Train_Y.drop(columns=['null','grit', 'gpa','materialHardship','layoff','jobTraining'])
Train_Y_Eviction = Train_Y_Eviction.set_index('challengeID')

Test_Y_Eviction = Test_Y.drop(columns=['grit', 'gpa','materialHardship','layoff','jobTraining'])
Test_Y_Eviction = Test_Y_Eviction.set_index('challengeID')

In [280]:
Test_Y_Eviction.loc[Test_Y_Eviction['eviction'] == True] = 1.0
Test_Y_Eviction.loc[Test_Y_Eviction['eviction'] == False] = 0.0

In [281]:
TRAIN_challengeIDs = Training['challengeID'].tolist()
TEST_challengeIDs = Testing['challengeID'].tolist()

In [282]:
Train_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TRAIN_challengeIDs)]
Train_X = Train_X.set_index('challengeID')

Test_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TEST_challengeIDs)]
Test_X = Test_X.set_index('challengeID')

In [283]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [284]:
#KNM Classifier 
neighbors = KNeighborsClassifier(n_neighbors = 10)
neighbors.fit(Train_X, Train_Y_Eviction)
predictions_KNM = neighbors.predict(Test_X)
print("acc score = ", accuracy_score(Test_Y,predictions_KNM ))
print("f1 score = ", f1_score(Test_Y,predictions_KNM ))

/Users/preetiiyer/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: Classification metrics can't handle a mix of unknown and binary targets

In [285]:
#Logistic Regression Classifier 
LR_norm = linear_model.LogisticRegression(solver = 'lbfgs')
LR_norm.fit(Train_X, Train_Y_Eviction)
predictions_LR_norm = LR_norm.predict(Test_X)
print("acc score = ", accuracy_score(Test_Y,predictions_LR_norm ))
print("f1 score = ", f1_score(Test_Y,predictions_LR_norm ))

/Users/preetiiyer/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/preetiiyer/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

ValueError: Classification metrics can't handle a mix of unknown and binary targets

In [286]:
print(Train_X.shape)
print(Train_Y_Eviction.shape)

(1014, 5223)
(1014, 1)