## Pre-processing data

In [137]:
import csv
import numpy as np
import pandas as pd

In [138]:
ls

FFMetadata_v0.csv
Fragile_Familes.ipynb
Fragile_Families working copy.ipynb
MissingDataScript.py
README.txt*
X_train.txt
assignment2_fragilefamilies2019.pdf
background.csv*
codebook_FFChallenge.txt*
ffchallenge_getting_started_cos424.pdf
leaderboard.csv*
leaderboardUnfilled.csv*
output.csv
precept5_regularization_and_crossvalidation_demo.ipynb
prediction.csv*
test.csv*
train.csv*
y_train.txt

In [139]:
# Read in datasets, with a dublicate of the background data 
Dataset = pd.read_csv("background.csv",low_memory=False)
Dataset_Na = pd.read_csv("background.csv",low_memory=False)
Training = pd.read_csv("train.csv",low_memory=False)
Testing = pd.read_csv("test.csv",low_memory=False)

In [140]:
# Preview first 5 lines
Dataset.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,-3,NaN,-3,40,NaN,0,NaN,NaN,NaN,...,-3.0,-3.000000,-3.000000,-3.000000,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
1,2,-3,NaN,0,40,NaN,1,NaN,NaN,NaN,...,-3.0,8.473318,-3.000000,-3.000000,-3.0,-3.000000,9.845074,-3,-3.000000,9.723551
2,3,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.097495,10.071504,-3.0,-3.000000,-3.000000,-3,-3.000000,-3.000000
3,4,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,9.512706,10.286578,-3.0,10.677285,-3.000000,-3,8.522331,10.608137
4,5,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,-3.0,-3.000000,11.076016,9.615958,-3.0,9.731979,-3.000000,-3,10.115313,9.646466

# Cleaning Data

In [141]:
# Make negative values NaN 
Dataset_Na[Dataset_Na < 0] = np.nan 
Dataset_Na.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
0,1,NaN,NaN,NaN,40.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,0.0,40.0,NaN,1.0,NaN,NaN,NaN,...,NaN,8.473318,NaN,NaN,NaN,NaN,9.845074,NaN,NaN,9.723551
2,3,NaN,NaN,0.0,35.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.097495,10.071504,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,0.0,30.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,9.512706,10.286578,NaN,10.677285,NaN,NaN,8.522331,10.608137
4,5,NaN,NaN,0.0,25.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,11.076016,9.615958,NaN,9.731979,NaN,NaN,10.115313,9.646466

## Remove features with > 80% of data missing to increase accuracy of immutability

In [142]:
# Set values
n = len(Dataset_Na)
m = len(Dataset.columns)
na_Factor = .8

# Pandas object, True if is NaN, else False
NabyCol = Dataset_Na.isna().sum(axis=0)

# Set array value as 1 if corresponding column exceeds 80% data is NaN
Over80_na =[0] * m
for i in range(0,len(NabyCol)):
    if (NabyCol[i] > n*na_Factor):
        Over80_na[i] = 1 

# Get indices of columns with more than 80% data NaN
lenOfDrops = Over80_na.count(1)
Drops = []
for i in range(0,len(Over80_na)):
    if  (Over80_na[i] ==1):
        Drops.append(i)

# Drop columns indexed by values in Drops[]
Dataset_Na.drop(Dataset_Na.columns[Drops],axis=1,inplace=True)
print(len(Dataset.columns) - len(Dataset_Na.columns), "Columns Dropped")

7719 Columns Dropped

In [143]:
# Preview cleaned up dataset
Dataset_Na.head()

,challengeID,m1lenhr,m1lenmin,cm1fint,cm1citsm,m1citywt,innatsm,incitysm,m1a3,m1a4,...,f3d7,m4d6,m4d7,m4e23,f4d6,f4d7,m5c6,m5d20,f5c6,k5f1
0,1,NaN,40.0,0.0,1,202.485367,1,1,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0.0,40.0,1.0,1,45.608219,1,1,2.0,2.0,...,NaN,NaN,NaN,8.473318,NaN,NaN,NaN,9.845074,NaN,9.723551
2,3,0.0,35.0,1.0,1,39.060299,1,1,1.0,1.0,...,9.856885,NaN,NaN,NaN,9.097495,10.071504,NaN,NaN,NaN,NaN
3,4,0.0,30.0,1.0,1,22.304855,1,1,1.0,2.0,...,9.735952,9.657890,10.041802,NaN,9.512706,10.286578,10.677285,NaN,8.522331,10.608137
4,5,0.0,25.0,1.0,1,35.518272,1,1,1.0,2.0,...,10.174545,10.981139,9.458314,NaN,11.076016,9.615958,9.731979,NaN,10.115313,9.646466

## Fill in missing data - slightly modified code to take in df of viable features (those with >80% non-missing data)

In [144]:
def fillMissing(inputdf, outputcsv):
    # read input csv - takes time
    df = inputdf
    # Fix date bug
    #df.cf4fint = ((pd.to_datetime(df.cf4fint) - pd.to_datetime('1960-01-01')) / np.timedelta64(1, 'D')).astype(int)
    
    # replace NA's with mode
    df = df.fillna(df.mode().iloc[0])
    # if still NA, replace with 1
    df = df.fillna(value=1)
    # replace negative values with 1 - alread replaced all negative values above 
    # num = df._get_numeric_data()
    # num[num < 0] = 1
    # write filled outputcsv
    df.to_csv(outputcsv, index=False)

In [145]:
fillMissing(Dataset_Na, 'output.csv')
Data_immuted = pd.read_csv('output.csv', low_memory=False)

In [146]:
Data_immuted.head()

,challengeID,m1lenhr,m1lenmin,cm1fint,cm1citsm,m1citywt,innatsm,incitysm,m1a3,m1a4,...,f3d7,m4d6,m4d7,m4e23,f4d6,f4d7,m5c6,m5d20,f5c6,k5f1
0,1,0.0,40.0,0.0,1,202.485367,1,1,1.0,1.0,...,10.926755,7.632805,9.040641,10.558813,11.689877,9.080795,10.991854,10.564085,10.972726,9.566678
1,2,0.0,40.0,1.0,1,45.608219,1,1,2.0,2.0,...,10.926755,7.632805,9.040641,8.473318,11.689877,9.080795,10.991854,9.845074,10.972726,9.723551
2,3,0.0,35.0,1.0,1,39.060299,1,1,1.0,1.0,...,9.856885,7.632805,9.040641,10.558813,9.097495,10.071504,10.991854,10.564085,10.972726,9.566678
3,4,0.0,30.0,1.0,1,22.304855,1,1,1.0,2.0,...,9.735952,9.657890,10.041802,10.558813,9.512706,10.286578,10.677285,10.564085,8.522331,10.608137
4,5,0.0,25.0,1.0,1,35.518272,1,1,1.0,2.0,...,10.174545,10.981139,9.458314,10.558813,11.076016,9.615958,9.731979,10.564085,10.115313,9.646466

In [147]:
#Training['null'] = 0
#for i in range(0,len(Training)):
 #   if (pd.isna(Training.loc[i][1]) or pd.isna(Training.loc[i][2]) or
  #  pd.isna(Training.loc[i][3]) or pd.isna(Training.loc[i][4]) or
   # pd.isna(Training.loc[i][5]) or pd.isna(Training.loc[i][6])):
    #    Training.iloc[i][7] = 1

## Edit target data - remove NaNs

In [148]:
print("Unedited training data is:", Training.shape)
print(Training.head())
print("Unedited testing data is:", Testing.shape)
print(Testing.head())

Unedited training data is: (2121, 7)
   challengeID  gpa  grit  materialHardship  eviction  layoff  jobTraining
0            1  NaN   NaN               NaN       NaN     NaN          NaN
1            3  NaN   NaN               NaN       NaN     NaN          NaN
2            6  NaN  3.50          0.090909       0.0     0.0          0.0
3            7  2.5  3.25          0.000000       0.0     0.0          0.0
4            8  NaN   NaN               NaN       NaN     NaN          NaN
Unedited testing data is: (1591, 7)
   challengeID   gpa  grit  materialHardship eviction layoff jobTraining
0            2   NaN  3.50          0.000000    False  False       False
1            4  3.00  3.25          0.000000     True  False       False
2           11  3.25  4.00          0.181818    False   True        True
3           15  2.75  4.00          0.000000    False  False        True
4           17  3.25  3.50          0.363636    False   True       False

In [149]:
# Remove NaN from training and testing data
Train_Y = Training.dropna()
Test_Y = Testing.dropna()
print("Train_Y data summary: \n", Train_Y.head())
print("Test_Y data summary: \n", Test_Y.head())

Train_Y data summary:
    challengeID   gpa  grit  materialHardship  eviction  layoff  jobTraining
3            7  2.50  3.25          0.000000       0.0     0.0          0.0
5            9  2.25  4.00          0.181818       0.0     0.0          0.0
7           13  2.75  4.00          0.181818       0.0     0.0          1.0
8           14  3.25  2.75          0.272727       0.0     1.0          0.0
9           16  2.00  3.50          0.090909       0.0     0.0          1.0
Test_Y data summary:
     challengeID   gpa  grit  materialHardship eviction layoff jobTraining
1             4  3.00  3.25          0.000000     True  False       False
2            11  3.25  4.00          0.181818    False   True        True
3            15  2.75  4.00          0.000000    False  False        True
4            17  3.25  3.50          0.363636    False   True       False
10           29  1.75  2.75          0.090909    False  False        True

In [150]:
Train_Y['challengeID']

3          7
5          9
7         13
8         14
9         16
10        18
12        23
13        24
15        30
16        35
19        43
21        46
24        52
25        53
29        57
31        60
32        61
33        62
34        64
37        69
38        70
39        72
44        80
47        84
51        93
55       104
56       107
58       110
59       111
60       119
        ...
2048    4063
2049    4068
2052    4077
2053    4078
2055    4083
2056    4088
2057    4090
2059    4097
2060    4098
2063    4108
2064    4109
2065    4111
2072    4135
2073    4138
2076    4142
2077    4146
2082    4157
2084    4159
2086    4165
2087    4167
2088    4168
2090    4172
2091    4177
2095    4183
2104    4202
2108    4206
2110    4216
2114    4224
2118    4239
2120    4241
Name: challengeID, Length: 1014, dtype: int64

In [132]:
# Set indices of Y datasets to be the challengeIDs
Train_Y = Train_Y.set_index(['challengeID'], inplace=True)
Test_Y = Test_Y.set_index('challengeID')
Train_Y.head()

KeyError: 'challengeID'

In [123]:
Train_Y.loc['7'].values

KeyError: 'the label [7] is not in the [index]'

## Isolate each key outcome's data

### 1. Continous variables

In [99]:
## GPA
Train_Y_GPA = Train_Y[Train_Y.columns[0]]
Test_Y_GPA = Test_Y[Test_Y.columns[0]]

## Grit
Train_Y_Grit = Train_Y[Train_Y.columns[1]]
Test_Y_Grit = Test_Y[Test_Y.columns[1]]

## Material Hardship
Train_Y_Material_Hardship = Train_Y[Train_Y.columns[2]]
Test_Y_Material_Hardship = Test_Y[Test_Y.columns[2]]

### 2. Binary variables

In [100]:
## Eviction
Train_Y_Eviction = Train_Y[Train_Y.columns[3]]
Test_Y_Eviction = Test_Y[Test_Y.columns[3]]

## Layoff
Train_Y_Layoff = Train_Y[Train_Y.columns[4]]
Test_Y_Layoff = Test_Y[Test_Y.columns[4]]

## Job Training
Train_Y_Job_Training = Train_Y[Train_Y.columns[5]]
Test_Y_Job_Training = Test_Y[Test_Y.columns[5]]

In [113]:
print(Test_Y_Eviction.head())
Test_Y_Eviction.iloc[4]
# Test_Y_Eviction.loc[Test_Y_Eviction['eviction'] == True]
# Test_Y_Eviction.loc[Test_Y_Eviction['eviction'] == False] = 0.0

challengeID
4      True
11    False
15    False
17    False
29    False
Name: eviction, dtype: object

False

In [ ]:
TRAIN_challengeIDs = Training['challengeID'].tolist()
TEST_challengeIDs = Testing['challengeID'].tolist()

In [ ]:
Train_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TRAIN_challengeIDs)]
Train_X = Train_X.set_index('challengeID')

Test_X = Data_immuted.loc[Data_immuted['challengeID'].isin(TEST_challengeIDs)]
Test_X = Test_X.set_index('challengeID')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [ ]:
#KNM Classifier 
neighbors = KNeighborsClassifier(n_neighbors = 10)
neighbors.fit(Train_X, Train_Y_Eviction)
predictions_KNM = neighbors.predict(Test_X)
print("acc score = ", accuracy_score(Test_Y,predictions_KNM ))
print("f1 score = ", f1_score(Test_Y,predictions_KNM ))

In [ ]:
#Logistic Regression Classifier 
LR_norm = linear_model.LogisticRegression(solver = 'lbfgs')
LR_norm.fit(Train_X, Train_Y_Eviction)
predictions_LR_norm = LR_norm.predict(Test_X)
print("acc score = ", accuracy_score(Test_Y,predictions_LR_norm ))
print("f1 score = ", f1_score(Test_Y,predictions_LR_norm ))

In [ ]:
print(Train_X.shape)
print(Train_Y_Eviction.shape)